@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#dailyQuestion {
    font-family: 'Roboto', sans-serif; /* Set Roboto as the font */
    font-weight: bold;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#userAnswer {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

#submitAnswerBtn {
    background-color: green; /* Green background */
    color: white; /* White text */
    font-family: 'Roboto', sans-serif; /* Roboto font */
    font-weight: bold; /* Bold font */
    padding: 10px 10px; /* Increased padding for a larger button */
    margin-top: 5px; /* Space above the button */
    border: 2px solid transparent; /* Adjusted border */
    font-size: 15px; /* Keeping font size the same */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    width: auto; /* Auto width based on content and padding */
    height: auto; /* Auto height based on content and padding */
    min-width: 100px; /* Minimum width */
    min-height: 50px; /* Minimum height */
}

#submitAnswerBtn:hover {
    background-color: darkgreen; /* Slightly darker green on hover */
}

#app {
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children horizontally */
    justify-content: center; /* Center-align children vertically */
    text-align: center; /* Center-align text for all children */
}

/* Animation for incorrect answer */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
}

.incorrect {
    background-color: red;
    font-family: 'Roboto', sans-serif; /* Roboto font */
    font-weight: bold; /* Bold font */
    font-size: 15px; /* Increased font size */
    color: white; /* Text color */
    padding: 10px;
    border-radius: 4px;
    animation: shake 0.5s;
}

.game-image {
    width: 100%;
    max-width: 1000px; /* Adjust the max-width as needed */
    display: block;
    margin: 0 auto 1px auto; /* Adds margin to the bottom and auto-aligns horizontally */
    float: none; /* Aligns the image to the right */
}

.title-container, #userAnswer, #submitAnswerBtn {
    margin-bottom: 10px;
    padding: 0;
}

/* Keyframes for flashing effect */
@keyframes flash {
    0%, 100% { background-color: green; color: white; }
    50% { background-color: white; color: green; }
}

/* Correct answer style with flashing animation */
.correct {
    padding: 10px;
    border-radius: 4px;
    animation: flash 1s linear infinite;
    font-family: 'Roboto', sans-serif; /* Roboto font */
    font-weight: bold; /* Bold font */
    font-size: 60px; /* Increased font size */
    color: white; /* Text color */
    background-color: green; /* Background color */
    display: block; /* Make the element a block for better control */
    text-align: center; /* Center text horizontally */
    margin: 0 auto; /* Center block element horizontally */
    width: 100%; /* Full width */
}

.phone-button {
    display: inline-block;
    background-color: red;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px; /* Vertically center the emoji */
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s;
    position: fixed; /* Keep the button at a fixed position */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
}

.phone-button:hover {
    background-color: darkred;
    transform: scale(1.1); /* Slightly enlarges the button on hover */
}

/* Countdown Timer Styles */
.countdown-timer {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: #f0f0f0; /* Or any other color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-family: 'Roboto', sans-serif; /* Consistent font style */
    font-size: 16px;
    /* Additional styling as needed */
}
